.topbar {
    background: #D32F2F;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}

h1 {
    font-weight: 400;
}

.topbar .material-icons {
    font-size: 30px;
}

.coronavirus {
	animation: rotation 6s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
